<div class="jumbotron center">
     <h1>Real Experts.</h1>
  <p>Get your project off the ground with the real experts.<br>
  Work With the Best Engineers, Architects & Surveyors</p>
  <br>
     <p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>    
</div>
